
/* ==========================================================================
   Basics
   ========================================================================== */

html {
  font-size: $remBaseSize;
}

body {
  //font-family
  color: $color-gray-40;
  margin: 0;
  padding: 0;
}

* {
  font-family: $fontMain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga";
  box-sizing: border-box!important;
}

p, div, a, button, input, label, span, strong, b, i, section, aside, header, nav {
  font-size: $fontSize;
}

h1 {
  font-size: 3rem;
  font-family: $fontAlternate;
  font-weight: 400;
  line-height: 1em;
  margin: 2em 0 -0.5em;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.143em;
  margin: 2.286em 0 -0.571em;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.334em;
  margin: 2em 0 -0.667em;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2em;
  margin: 2.4em 0 -0.8em;
}

p {
  margin: 2em auto;
}

ul {
  list-style: none;
}
li {
  position: relative;
}
ul > li:before,
ol > li:before {
  position: absolute;
  width: 2em;
  margin-left: -3em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: right;
  color: $color-gray-15;
}
ul > li:before {
  margin-top: 0.125em;
  content: '*';
}
ol {
  list-style-type: none;
  counter-reset: item;
}
ol > li:before {
  content: counter(item) ". " !important;
  counter-increment: item;
}

ol,
ul {
  padding-left: 3em;
  margin: 2em auto;

  ol,
  ul {
    padding-left: 1.5em;
    margin: 1em auto;
  }
}

dl {
  margin: 2em auto;

  dt {
    font-size: 0.875em;
    line-height: 1.143em;
    font-weight: 700;
    margin-bottom: 0.571em;
    color: $color-gray-15;
  }

  dd {
    margin-left: 1em;
    margin-bottom: 1.5em;
  }
}

hr {
  display: block;
  height: 1px;
  margin: 2em 0;
  padding: 0;
  background: $color-gray-90;
  border: 0;
}

blockquote {
  margin: 2em auto;
  padding: 0 1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 0.25em solid $color-gray-85;
  font-style: italic;
  font-weight: 400;
  color: $color-gray-40;
  background: transparent;

  * {
    margin: 1em auto;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


em, i {
  font-weight: 400;
  font-style: italic;
  color: $color-gray-25;
}
strong, b {
  font-weight: 700;
  color: $color-gray-25;
}

small {
  font-size: 0.9em;
}

mark {
  background-color: $color-yellow-100;
}

code,
tt {
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 3px 6px;
  margin: -1px 2px;
  font-family: 'Inconsolata', monospace;
  font-size: 0.875em;
  line-height: 1.143em;
  white-space: pre;
  background: $color-gray-90;
  color: #000;
  font-weight: 400;
  border-radius: 2px;
}

pre {
  margin: 2em auto;
  width: 100%;
  padding: 1em;
  font-family: 'Inconsolata', monospace;
  white-space: pre;
  overflow: auto;
  background: $color-gray-65;
  color: #fff;
  box-sizing: border-box;

  code,
  tt {
    position: static;
    top: auto;
    font-size: 1em;
    line-height: 1.5em;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    vertical-align: inherit;
    border: none;
    padding: 0;
    background: transparent;
  }
}

pre.codeblock {
  position: relative;
  padding: 1em;
  overflow: hidden;

  code {
    display: block;
    border: 0;
    padding: 1.5em;
    padding-left: 4em;
    margin: -1em;
    white-space: inherit;
    overflow-x: scroll;
    background: $color-gray-90;
  }

  .lines {
    position: absolute;
    width: 3em;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1.5em 0;
    border-right: 1px solid $color-gray-85;
    font-size: 1em;
    line-height: 1.5em;
    text-align: right;
    box-sizing: border-box;
    background: $color-gray-90;
    user-select: none;
    cursor: default;

    .line {
      display: block;
      padding-right: 0.5em;
      color: $color-gray-65;
    }
  }
}

kbd {
  display: inline-block;
  margin: 0 2px 4px;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.875em;
  font-weight: bold;
  background: $color-gray-97;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}


.bg {
  background-position: center right;
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  top: 0px;
  right: 60px;
  opacity: 1;
  background-size: 380px;
  background-repeat: repeat;
}
