
/* ==========================================================================
   Navigation
   ========================================================================== */

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  line-height: $nav-height;
  background: $nav-background;
  z-index: $zindex-nav;
  transition: all ease-out 0.4s;
  transform: translate3d(0,0,0);
  transform-style: preserve-3d;
  opacity: 1;
  border-bottom: 1px darken($nav-background, 15%) solid;
  box-shadow: 0 17px 22px 0 rgba(0, 0, 0, 0.05),
              0 30px 40px 0 rgba(0, 0, 0, 0.03);

  &:after {
    clear: both;
    content: '';
    display: table;
  }

  .nav-logo {
    float: left;
    height: $nav-height;
    line-height: $nav-height;
    padding: 0 2rem;
    max-width: 50%;

    img {
      width: auto;
      max-width: none;
      height: 2em;
      margin: 0;
    }

    span {
      font-weight: 400;
      color: $baseNeutralWindy;
      transition: 0.3s all;
      line-height: $nav-height;

      a {
        font-size: $nav-logo-font-size;
        border-bottom: 1px transparentize($baseNeutralWindy, 0.7) solid;

        &:hover {
          color: $baseNeutralStorm;
          border-bottom: 1px transparentize($baseNeutralStorm, 0.5) solid;
        }
      }
    }

    .breadcrumbs {
      .separator {
        color: $baseNeutralRainy;
        font-weight: 600;
        padding: 0 0.2rem;
        display: inline-block;
      }
      .item {
        font-size: $nav-logo-font-size;
        font-weight: 500;
      }
    }

  }

  .nav-menu {
    float: right;

    &:after {
      clear: both;
      content: '';
      display: table;
    }

    a {
      display: block;
      width: $nav-height;
      height: $nav-height;
      line-height: $nav-height;
      text-align: center;
      float: left;
      cursor: pointer;

      &:hover,
      &:focus {
        background: $baseNeutralFoggy;

        i {
          color: $baseNeutralShiny;
        }
      }

      i {
        font-size: 2rem;
        color: $baseNeutralStorm;
        transition: 500ms color ease-in;
        transition-delay: 0ms;

      }
      i:before {
        margin: auto;
      }
    }

    .rss {}

    .menu {}
  }
}

.loading {

  #nav {
    transform: translate3d(0,-100%,0);
    opacity: 0;
  }
}


/** OS X nav transparency **/
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #nav {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: transparentize($nav-background, 0.5);
  }

}
